<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title></title>
		<link rel="stylesheet"   th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"/>
		
		<link rel="stylesheet" href="/css/footer.css" />

	</head>

	<body>

		<footer class="container col-md-12 col-sm-12" style="padding-left: 100px;">
			<hr />
			<dl>
				<dt>服务与支持</dt>
				<dd><a>售后服务</a></dd>
				<dd><a>防伪查询</a></dd>
				<dd><a>在线反馈</a></dd>
			</dl>
		
			<dl>
				<dt>关于我们</dt>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>品牌国际</a>
				</dd>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>加盟品牌</a>
				</dd>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>品牌团购</a>
				</dd>
			</dl>
			<dl>
				<dt>帮助中心</dt>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>关于员工</a>
				</dd>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>关于我们</a>
				</dd>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>更多问题>></a>
				</dd>
			</dl>
			
			<dl>
				<dt>网站政策</dt>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>使用条款</a>
				</dd>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>隐私声明</a>
				</dd>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>退款规则</a>
				</dd>
				<dd><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					<a>更多问题>></a>
				</dd>
			</dl>
			<dl>
				<dt>关注我们</dt>
				<dd>
					<a ><img class="weibo"  src="/img/icon/weibo.png"></a>
				</dd>
				<dd >
					<a><img class="weixin" src="/img/icon/weixinzhifu.net.png"></a>
				</dd>
				
			</dl>
		</footer>

	</body>

</html>