<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>运动</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
<script src="/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/products.css" />
</head>

<body>
	<div th:replace="header"></div>
	<div class="product-model">
		<div class="container">


			<div class="col-md-12 product-model-sec"></div>

			<script src="js/jquery-3.1.1.js"></script>
			<script type="text/javascript" src="/js/products.js"></script>

			<!-- end -->
		</div>



		

	</div>



<div class="container"  style="text-align: center; ">
			<nav aria-label="Page navigation" >
				<ul class="pagination" >
				</ul>
			</nav>
		</div>






	<div>
		<footer th:replace="footer"></footer>
	</div>


</body>

</html>