<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>商品详情</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
		<script src="/js/jquery-3.1.1.js" ></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js" ></script>
		<link rel="stylesheet" href="/css/single.css" />
	
		
	</head>

	<body >

		<div th:replace="header"></div>
		
			
		
			<!--etalage-->
		
		<link rel="stylesheet" href="/css/etalage.css">
		<script src="/js/jquery.etalage.min.js"></script>
		<script>
				$(function() {

				$('#etalage').etalage({
					thumb_image_width: 370,
					thumb_image_height: 370,
					source_image_width: 850,
					source_image_height: 1200,
					show_hint: true,
					zoom_easing: true,

				});

			});
		</script>
		<section class="single-product">
			<div class="container" >
			
			 
				
				<input type="hidden" name="shoes_id" th:value="${shoes.id}"/>
				<div class="row mt-20">
					<div class="col-md-5 col-sm-5 col-xs-5">
						<div class="single-product-slider">
								<ul id="etalage">
			<li>
				<img src='img/single/black.jpg' th:src="${shoes.img}" class="etalage_thumb_image"  />

				<img src='img/single/black.jpg' th:src="${shoes.img}" class="etalage_source_image"  />
			</li>
			
		
		</ul>
						</div>
					</div>
					<div class="col-md-7 col-sm-7 col-xs-7">
						<div class="single-product-details">
							<h2 th:text="${shoes.name}">男子篮球鞋低帮一体织战靴 DA910001</h2>
							<p class="product-price"  th:text="${'￥'+shoes.price}">￥300</p>

							<div class="product-description mt-20"  th:text="${shoes.description}">
								<span >商品详情:</span>
								
							</div>
							<div class="color-swatches">
								<span>选择颜色:</span>
								<ul >
									<li  >
										<img class="color1"/>
									</li>
									<li >
										<img class="color2"/>
									</li>
									<li >
										<img  class="color3"/>
									</li>
									
								</ul>
							</div>
							<div class="product-size">
								<span>选择尺寸:</span>
								<select class="form-control size">
									<option value="39">39</option>
									<option value="40">40</option>
									<option value="41">41</option>
									<option value="42">42</option>
								</select>
							</div>
							<div class="product-quantity">
								<span>购买数量:</span>
								<div class="product-quantity-slider">
									
									<span onclick="del()">-</span>
									<input  type="number" min="1"  name="num" value="1">
									<span onclick="add()">+</span>
									
								</div>
							</div>
							
							<div class="product-coupon">
								<span>优惠劵:</span>
								<ul >
									<li>
										<a >满80减1</a>
									</li>
									<li>
										<a >满160减50</a>
									</li>
									
								</ul>
							</div>
							
							<button  class=" btn-main mt-20">加入购物车</button>
							
						</div>
					</div>
				</div>
			
			</div>
		</section>
		
	</body>
		
	<script src="/js/single.js"></script>
	
	
	
		<div><footer th:replace="footer"></footer></div>
</html>